@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", "Fraunces", sans-serif, serif;
}

/* TEXT COLORS */
p {
  color: hsl(167, 40%, 24%);
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
h1,
h2,
h3 {
  color: black;
  font-family: "Fraunces", serif;
}

/* TRASITION FOR LINKS AND BUTTON */
a,
.btn {
  transition: all 300ms ease;
}

/* NAVBAR */
#nav-bar {
  display: flex;
  padding: 40px 40px;
  justify-content: space-between;
}

.logo img {
  width: 130px;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 1rem;
}

.links a {
  text-decoration: none;
  color: rgba(230, 248, 254, 255);
  padding: 10px 20px;
  cursor: pointer;
}
.btn a {
  border: none;
  border-radius: 20px;
  background: white;
  color: black;
}

/* NAVBAR HOVER EFFECT */
.links a:hover {
  color: white;
}
.btn a:hover {
  background: rgba(106, 210, 255, 255);
  color: rgba(230, 248, 254, 255);
}
/* HAMBURBER */
#hamburger-nav {
  display: none;
}
/* INTRO PAGE */
#intro-page {
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.intro-page-heading {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}
.intro-page-heading h1 {
  font-size: 3rem;
  word-spacing: 0.8rem;
  letter-spacing: 0.3rem;
  color: white;
}
.arrow {
  display: flex;
  justify-content: center;
  margin-top: 5.5rem;
}

/* ABOUT SECTION 1 */
#about-section-1 {
  display: flex;
}
.text_box-container {
  display: flex;
  align-items: center;
  flex: 1;
}
.text_box {
  padding: 0 90px;
}

.text_box h2 {
  font-size: 3rem;
}
.text_box p {
  margin: 40px 0;
}
.learn {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-family: "Fraunces", serif;
}
.learn:hover {
  border-bottom: yellow 6px solid;
}
.img-box {
  flex: 1;
}
.img-box img {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* ABOUT SECTION 2 */
#about-section-2,
#explaining-section {
  display: flex;
}
/* EXPERIENCE SECTION */
.left-container {
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  align-items: end;
  text-align: center;
  color: #225d51;
}
.left-container .project h2 {
  color: #225d51;
}
.right-container {
  background-image: url(./images/desktop/image-photography.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  align-items: end;
  text-align: center;
  color: #165676;
}
.right-container .project h2 {
  color: #165676;
}
.project {
  margin-bottom: 30px;
}

/* TESTIMONIES SECTION */
#testimonies {
  height: 100vh;
  width: 100%;
}
#testimonies h2 {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 0;
  letter-spacing: 5px;
  font-size: 2.5rem;
  color: #ababab;
}
.container {
  display: flex;
  /* height: inherit; */
  align-items: center;
  justify-content: space-around;
}
.card {
  gap: 2rem;
  margin: 4rem 30px;
  text-align: center;
  padding: 0 40px;
}
.round {
  border-radius: 100%;
}
.card-img {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 0;
}
.card h3 {
  font-weight: 900;
  margin-top: 5rem;
  color: #2a323f;
}
.card p {
  color: #626667;
}

/* IMAGE SECTION */
#image-section {
  display: block;
}
.image-section-container {
  display: flex;
  height: 65vh;
  width: 100%;
  justify-content: space-around;
}

.image_container {
  display: flex;
}
.image_container img {
  width: 100%;
}

/* FOOTER */
footer {
  height: 35vh;
  background: #90d4c5;
  /* color: #2d7567; */
  display: flex;
  justify-content: center;
}
.logo-container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo-container img {
  width: 10rem;
  color: #2d7567;
}
.nav-links .btm {
  margin-top: 2rem;
  color: #2d7567;
}
.nav-links .btm a {
  color: #2d7567;
}
.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.icon {
  padding: 0 8px;
  width: 0.8rem;
}
